body{
background-color:#8467D7;
color:#7D1B7E;
font-family:comic sans ms;
}

header  h1{
			-webkit-transform: rotate(-9deg) translate(-100px, 0px);
		}
		
#flex-container1 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
	
	margin-top:20px;
	margin-bottom:20px;
	margin-right:30px;
	padding: 5px 5px;
	justify-content: space-around;
	align-items:center;
	align-content:stretch;
	 border: 8px groove #151B8D;
	 width:600px;
	 height:600px;
}

.box{
		position:absolute;
	    top:0;
		left:0;
		width:100px;
		height:100px;
		-webkit-animation: corners 10s infinite;
		animation-name: corners;
		animation-duration: 10s;
		animation-iteration-count: infinite;
	}

	.box:hover {
		-webkit-animation-play-state:paused;
		animation-play-state:paused;
	}

@-webkit-keyframes corners {

		25% {
			top:520px;
			left:0;
			
		}

		50% {
			top:520px;
			left:500px;
			
		}

		75% {
			top:0;
			left:560px;
			background:yellow;
		}

	}
