body{
background-color: #99C68E;
font-family:comic sans ms;
color:white;}

@media screen and (max-width: 800px) {
    body {
        background-color: lightblue;
		color:blue;
		font-size:16pt;
    }
}

@media only screen and (max-width:480px) {
body {
        background-color: #BC8FC7;
		color:orange;
		font-size:14pt;
    
	}
}
@media only screen and (max-width:320px) {
body {
        background-color: pink;
		color:orange;
		font-size:14pt;
    
	}
}
